<!DOCTYPE html>
<html>
<head>
  <title>Add Item</title>
</head>
<body>
  <h2>Add Cafe Item</h2>

  <form action="/admin/add-item" method="POST">
    <input type="text" name="name" placeholder="Item Name" required><br><br>
    <input type="number" name="price" placeholder="Price" required><br><br>
    <textarea name="description" placeholder="Description"></textarea><br><br>
    <button type="submit">Add Item</button>
  </form>
</body>
</html>
